:root {
    --color-win: #008000;
    --color-lose: #800000;
}


* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #161616;
    color: #e4e4e4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 5%;
}

table.table-game {
    border: 2px solid white;
    border-collapse: collapse;
    
    font-size: 30px;
    font-family: monospace;

    text-align: center;
    margin: auto;
}

table.table-game tr {
    border: 1px solid white; 
}

table.table-game td {
    border: 1px solid white; 
    padding: 30px;
}

.table-game-cell {
    width: 40px;
    height: 40px;
    font-family: monospace;
}
.table-game-cell:hover {
    background-color: #202020;
}

#inf {
    padding: 8px 12px;
    font-family: monospace;
    margin: 15px 20%;
}

#inf.win {
    background-color: var(--color-win);
}

#inf.lose {
    background-color: var(--color-lose);
}

button {
    padding: 5px 10px;
    margin: 5px;
}