:root {
    --color-win: #008000;
    --color-lose: #800000;
    --color-nowinner: #805E00;

    --color-bg-main: #161616;
    --color-fg-main: #e4e4e4;
}


* {
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--color-bg-main);
    color: var(--color-fg-main);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 5%;
}

table.table-game {
    border: 2px solid white;
    border-collapse: collapse;
    
    font-size: 30px;
    font-family: monospace;

    text-align: center;
    margin: auto;
}

table.table-game tr {
    border: 1px solid white; 
}

table.table-game td {
    border: 1px solid white; 
    padding: 30px;
}

.table-game-cell {
    width: 40px;
    height: 40px;
    font-family: monospace;
}
.table-game-cell:hover {
    background-color: #202020;
}

#inf {
    padding: 8px 12px;
    font-family: monospace;
    margin: 15px 20%;
}

#inf.win {
    background-color: var(--color-win);
}

#inf.lose {
    background-color: var(--color-lose);
}

#inf.nowinner {
    background-color: var(--color-nowinner);
}

button {
    padding: 7px 15px;
    margin: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    background-color: var(--color-bg-main);
    color: var(--color-fg-main);
}

button.prim {
    box-sizing: border-box;
    border: 2px solid var(--color-fg-main);
    transition: .3s;
}

button.prim:hover {
    background-color: var(--color-fg-main);
    color: var(--color-bg-main);
}